---
import Layout from "../layouts/Layout.astro";
import CardPostBlog from "../components/CardPostBlog.astro";
const title = "Blog";
const posts = await Astro.glob("./posts/*.md");
import "../styles/global.css";
---

<Layout title={title}>
  <head>
    <title>{title}</title>
  </head>
  <h2 class="mb-10 text-center text-3xl md:text-5xl">
    <span class="text-gray-800 font-bold">Blog</span> ✌
  </h2>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {posts.map((post) => <CardPostBlog post={post} />)}
  </div>
</Layout>
