<div class="rounded-xl border border-blue-gray-50 bg-white">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 md:flex-row-reverse lg:items-center lg:gap-12"
    >
      <div class="md:5/12 lg:w-5/12 flex justify-center">
        <img
          src="/profile2.jpg"
          alt="image"
          loading="lazy"
          class="lg:w-[60%]"
        />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">
          &lt;Sobre mi /&gt;
        </h2>
        <p class="mt-6 text-gray-600 text-xl">
          ¡Hola! Soy Lucas, aunque me conocen como "Luke". A los 22 años,
          comencé a sumergirme en el mundo de la programación, explorando de
          manera autónoma el funcionamiento del software. <span
            class="font-bold text-black"
          >
            Mi trayectoria incluye roles como desarrollador frontend y fullstack
            en proyectos freelance de aplicaciones.
          </span>
        </p>
        <p class="mt-4 text-gray-600 text-xl">
          Disfruto de aprender y dedicar tiempo a mis pasatiempos, ya sea
          entrenar o editar videos. Actualmente, aspiro a adoptar el estilo de
          vida de un nómada digital, aprovechando la oportunidad de explorar
          horizontes nuevos, conectarme con personas de diversas culturas, todo
          ello mientras continúo avanzando en
          <span class="font-bold text-black">
            mis proyectos y responsabilidades laborales.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="text-gray-600 body-font py-16">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div
            class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
              Phoebe Caulfield
            </h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base">
              Raclette knausgaard hella meggs normcore williamsburg enamel pin
              sartorial venmo tbh hot chicken gentrify portland.
            </p>
          </div>
        </div>
        <div
          class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
        >
          <p class="leading-relaxed text-lg mb-4">
            ¡Hola! Soy Lucas, aunque me conocen como "Luke". A los 22 años,
            comencé a sumergirme en el mundo de la programación, explorando de
            manera autónoma el funcionamiento del software. <span
              class="font-bold text-black"
            >
              Mi trayectoria incluye roles como desarrollador frontend y
              fullstack en proyectos freelance de aplicaciones.
            </span>
          </p>
          <a class="text-indigo-500 inline-flex items-center"
            >Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="leading-relaxed text-lg mb-4">
            Disfruto de aprender y dedicar tiempo a mis pasatiempos, ya sea
            entrenar o editar videos. Actualmente, aspiro a adoptar el estilo de
            vida de un nómada digital, aprovechando la oportunidad de explorar
            horizontes nuevos, conectarme con personas de diversas culturas,
            todo ello mientras continúo avanzando en
            <span class="font-bold text-black">
              mis proyectos y responsabilidades laborales.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
