<div class="py-16 bg-white">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 md:flex-row-reverse lg:items-center lg:gap-12"
    >
      <div class="md:5/12 lg:w-5/12 flex justify-center">
        <img
          src="/profile2.jpg"
          alt="image"
          loading="lazy"
          class="lg:w-[60%]"
        />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Sobre mi</h2>
        <p class="mt-6 text-gray-600 text-lg">
          ¡Hola! Soy Lucas, aunque me conocen como "Luke". A los 22 años,
          comencé a sumergirme en el mundo de la programación, explorando de
          manera autónoma el funcionamiento del software. <span
            class="font-bold"
          >
            Mi trayectoria incluye roles como desarrollador frontend y fullstack
            en proyectos freelance de aplicaciones.
          </span>
        </p>
        <p class="mt-4 text-gray-600 text-lg">
          Disfruto de aprender y dedicar tiempo a mis pasatiempos, ya sea
          entrenar o editar videos. Actualmente, aspiro a adoptar el estilo de
          vida de un nómada digital, aprovechando la oportunidad de explorar
          horizontes nuevos, conectarme con personas de diversas culturas, todo
          ello mientras continúo avanzando en
          <span class="font-bold">
            mis proyectos y responsabilidades laborales.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
