<h3
  class="hidden lg:block text-3xl sm:text-4xl md:text-3xl lg:text-4xl xl:text-[2.70rem] text-center text-gray-800 dark:text-white"
>
  Sobre mi
</h3>

<section>
  <div class="max-w-6xl sm:px-6 pb-[2.5rm] mx-auto">
    <main class="relative z-20 w-full mt-8 md:flex md:items-center xl:mt-12">
      <div
        class="absolute w-full bg-blue-500 -z-10 md:h-[35em] lg:h-[45rem] xl:h-[35rem] rounded-md"
      >
      </div>

      <div
        class="w-full p-6 bg-blue-500 lg:flex md:items-center rounded-2xl md:bg-transparent md:p-0 lg:px-12 md:justify-evenly"
      >
        <img
          src="https://res.cloudinary.com/dncmrwppr/image/upload/v1707095702/profile2_n35ew7.png"
          alt="Lucas Quiroga"
          loading="lazy"
          class="h-24 w-24 md:mx-6 rounded-full object-cover md:h-32 md:w-32 lg:h-[39rem] lg:w-[26rem] md:rounded-2xl"
        />

        <div class="mt-2 md:mx-6">
          <div>
            <p
              class="text-xl md:text-2xl lg:text-3xl xl:text-4xl font-medium tracking-tight text-white"
            >
              Lucas Quiroga
            </p>
            <p class="text-blue-200 text-md md:text-lg lg:text-xl xl:text-2xl">
              Desarrollador web
            </p>
          </div>

          <p
            class="mt-4 text-md md:text-lg lg:text-xl leading-relaxed text-white"
          >
            ¡Hola! Soy Lucas, aunque me conocen como "Luke". A los 22 años,
            comencé a sumergirme en el mundo de la programación, explorando de
            manera autónoma el funcionamiento del software. <span
              class="font-bold"
            >
              Mi trayectoria incluye roles como desarrollador frontend y
              fullstack en proyectos freelance de aplicaciones.
            </span>
          </p>

          <p
            class="mt-4 text-md md:text-lg lg:text-xl leading-relaxed text-white"
          >
            Disfruto de aprender y dedicar tiempo a mis pasatiempos, ya sea
            entrenar o editar videos. Actualmente, aspiro a adoptar el estilo de
            vida de un nómada digital, aprovechando la oportunidad de explorar
            horizontes nuevos, conectarme con personas de diversas culturas,
            todo ello mientras continúo avanzando en
            <span class="font-bold">
              mis proyectos, mi carrera y mis responsabilidades laborales.
            </span>
          </p>
        </div>
      </div>
    </main>
  </div>
</section>
