<div class="py-16 bg-white">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 md:flex-row-reverse lg:items-center lg:gap-12"
    >
      <div class="md:5/12 lg:w-5/12">
        <img
          src="../../public/profile2.jpg"
          alt="image"
          loading="lazy"
          class="lg:w-[60%]"
        />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Sobre mi</h2>
        <p class="mt-6 text-gray-600">
          Tengo 24 años y desde muy chico me intereso el mundo de tecnologia y
          su funcionamiento. Sin embargo, el descubrimiento de la programación
          llegó mucho más tarde en mi vida. Mi curiosidad se despertó al indagar
          sobre el funcionamiento del ámbito tecnológico y las mentes creativas
          que impulsan estas innovaciones.
        </p>
        <p class="mt-4 text-gray-600">
          Por eso, a los 22 años, tomé la decisión de convertirme en esa mente
          creativa y sumergirme a fondo en este campo. Mi propósito es ampliar
          mis conocimientos en programación y desarrollo de software. El
          objetivo no era sólo entender cómo funcionan las tecnologías
          existentes, sino también formar parte de la generación de futuras
          innovaciones.
        </p>
      </div>
    </div>
  </div>
</div>
