---
const miCumpleaños = new Date(1999, 3, 15).getTime();
const miComienzoIT = new Date(2021, 8, 3).getTime();
---

<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
  <!-- HERO -->
  <div class="px-4 py-14">
    <div class="flex flex-col-reverse flex-nowrap lg:flex-row-reverse">
      <div
        class="z-10 flex flex-col justify-center space-y-6 px-4 text-center lg:w-3/5 lg:px-12 xl:w-1/2 xl:flex-grow xl:items-start xl:pr-20 xl:text-left"
      >
        <h1
          class="text-3xl font-bold tracking-tight text-black sm:text-4xl md:text-5xl xl:text-6xl"
        >
          Lucas Quiroga<br /><span class="text-blue-500">Front-end</span> Developer
        </h1><p class="text-xl text-gray-900">
          Con {Math.floor((Date.now() - miCumpleaños) / 31536000000)} años y +{
            Math.floor((Date.now() - miComienzoIT) / 31536000000)
          } años de experiencia, soy un desarrollador web autodidacta con la meta
          de expandir mis conocimientos en programación y desarrollo de software.
          Aspiro a formar parte de la generación que impulsa futuras innovaciones.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
          <a
            href="mailto:miduga@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
            <svg
              class="size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"
              ></path><path d="M3 6l9 6l9 -6"></path><path d="M15 18h6"
              ></path><path d="M18 15l3 3l-3 3"></path></svg
            >
            Contáctame
          </a>
          <a
            href="https://linkedin.com/in/midudev"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
            <svg
              class="size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            >
            LinkedIn
          </a>
        </nav>
      </div><div class="mb-4 flex flex-col justify-center lg:w-2/5">
        <img
          class="mx-auto w-1/2 md:w-2/5 lg:w-3/5"
          src="../../public/profile3.jpg"
          alt="Lucas Quiroga"
        />
      </div>
    </div>
    <!-- <div class="flex gap-4">
      <a
        href="https://ui.shadcn.com"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants()}
      >
        Documentation
      </a>
      <a
        href="https://github.com/AREA44/astro-shadcn-ui-template"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: 'outline' })}
      >
        GitHub
      </a>
    </div>
    <CardWithForm /> -->
  </div>
  <!-- PROJECTS -->
  <!-- <div class="px-4 py-14">
      <Projects client:load text="personales" />
      <Projects client:load text="freelance" />
    </div> -->
</section>
