---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeToggle from "./ThemeToggle.astro";
import { createLogo } from "../utils";

const menuitems = [
  {
    name: "Inicio",
    path: "/#/",
  },
  {
    name: "Proyectos",
    path: "/#proyectos",
  },
  {
    name: "Tecnologias",
    path: "/#tecnologias",
  },
  {
    name: "Sobre mi",
    path: "/#sobre-mi",
  },
];
---

<header
  class="flex flex-col lg:flex-row justify-between items-center my-5 border-b-2 pb-3"
>
  <Astronav>
    <div class="flex w-full px-4 lg:w-auto items-center justify-between">
      <a
        class="text-2xl dark:text-light font-semibold dark:font-semibold font-outfit"
        href="#/"
        >{createLogo("Lucas Quiroga")}.
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-8 h-8 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
          menuitems.map((item) => (
            <li>
              <a
                href={item.path}
                class="p-4 dark:text-light  text-lg hover:bg-slate-100 rounded-lg h-[3rem] text-center flex justify-center items-center mx-auto dark:text-white dark:hover:text-black"
              >
                <span> {item.name}</span>
              </a>
            </li>
          ))
        }

        <select
          class="dark:text-light text-lg hover:bg-slate-100 rounded-lg h-[3rem] text-center flex justify-center items-center mx-auto dark:text-white dark:hover:text-black"
          name="language"
          id="language"
        >
          <option value="English" class="cursor-pointer">English</option>
          <option value="French" class="cursor-pointer">French</option>
        </select>
        <ThemeToggle />
      </ul>
    </MenuItems>
  </Astronav>
</header>
