---
import { TechnologiesSVG } from "./Data";
---

<h3 class="text-3xl sm:text-5xl text-center text-gray-800 dark:text-white">
  Tecnologias
</h3>
<div class="container mx-auto my-10 px-8">
  <div
    class="grid gap-4 grid-cols-2 md:grid-cols-3 justify-items-center lg:grid-cols-6 lg:gap-12 text-sm font-semibold text-center text-gray-800"
  >
    {
      TechnologiesSVG.map((tech) => (
        <a
          class="grid w-full min-w-[7rem] transform cursor-pointer place-items-center rounded-xl border border-blue-gray-50 bg-white px-3 py-2 transition-all hover:scale-105 hover:border-blue-gray-100 hover:bg-gray-200 "
          href={tech.doc}
          target="_blank"
        >
          <span class="my-6 grid h-24 w-24 place-items-center">
            <Fragment set:html={tech.svg} />
            {tech.name}
          </span>
        </a>
      ))
    }
  </div>
</div>
